.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 1rem;
}
.loginForm {
  background-color: #1e90ff;
  padding: 2rem;
  border-radius: 10px;
}
h1 {
  text-decoration: none;
  color: #ffffffe4;
  font-family: "Inter";
  font-size: 54px;
  font-weight: 700;
}

form .formLine {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 20vw;
}

form .formLine input {
  border-radius: 5px;
  border: none;
}

.formLine label {
  color: #ffffffb0;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  min-width: 300px;
}

.formLine input {
  padding: 0.1rem;
  font-size: 24px;
  border-radius: 25px;
}
.focusedLine label {
  color: white;
}
.btn {
  background-color: #ffffff;
  color: #1e8fff;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem;
}
a {
  text-decoration: none;
  color: #ffffffe4;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.info {
  color: #ffffffe4;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  max-width: 20vw;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.btn:disabled {
  background-color: #cccccc52;
  cursor: not-allowed;
}
.logoMargin {
  margin: 1rem;
}
.errmsg {
  color: red;
  font-size: 16px;
  font-weight: 700;
  margin: 1rem;
  font-family: "Inter";
}
