@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.container {
  display: flex;
  flex-direction: column;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.form_wrapper form {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="file"] {
  display: none;
}

.custom_file {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
}
.file {
  padding: 0.5rem;
}

.custom_file:hover {
  background-color: lightcoral;
}
form .submit {
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 400;
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
form .submit:hover {
  background-color: #333;
}
form .submit:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
.totalText {
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito";
  color: #000000;
  max-width: 150px;
  margin: 1rem;
}
.remainingText {
  font-size: 12px;
  font-weight: 400;
  font-family: "Nunito";
  color: #000000;
  max-width: 150px;
  margin: 1rem;
}
.title {
  color: black;
  font-size: 36px;
  font-weight: 400;
  font-family: "Nunito";
  padding: 1rem;
}
.platformInput {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Nunito";
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  min-width: 15rem;
}
.platformInputHidden {
  opacity: 0;
  pointer-events: none;
}
.selectPlatform {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  font-family: "Nunito";
  min-width: 15rem;
}
.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.form_wrapper form {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 20rem;
}
.titleForm {
  display: flex;
  flex-direction: row !important;
}
.titleForm div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalBtn {
  color: black;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
}
.selection {
  font-size: 14px;
  font-family: "Nunito";
  margin: 0.5rem;
}
form div {
  max-width: 20rem;
}
